{% extends "inc/base.html" %}
{% load static %}

{% block content %}

<div class="col-md-8">
    <div class="pb-4 mb-4 fst-italic border-bottom">
        <h3>New Question</h3>
    </div>

    <form class="needs-validation" novalidate>
        <div class="mb-3">
            <label class="col-sm-4 col-form-label">Title</label>
            <div class="col-7">
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="How to build a moon park?" required>
                <div class="valid-feedback">
                    Ok
                </div>
                <div class="invalid-feedback">
                    Please, enter a title
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="col-sm-4 col-form-label">Text</label>
            <div class="col-7">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
                      placeholder="Really, how? Have no idea about it" required></textarea>
                <div class="valid-feedback">
                    Ok
                </div>
                <div class="invalid-feedback">
                    What do you want to say?
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="col-sm-4 col-form-label">Tags</label>
            <div class="col-7">
                <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="moon, park, puzzle" required>
                <div class="valid-feedback">
                    Ok
                </div>
                <div class="invalid-feedback">
                    Tags are needed
                </div>
            </div>
        </div>
        <div style="margin-top: 30px">
            <button type="submit" class="btn btn-outline-success btn-lg">Ask!</button>
        </div>
    </form>
</div>

{% endblock %}
