{% extends "inc/base.html" %}
{% load static %}

{% block content %}

<div class="col-md-8">
    <div class="pb-4 mb-4 fst-italic border-bottom">
        <h3>Settings</h3>
    </div>

    <form class="needs-validation" style="width: max-content" novalidate>
        <div class="mb-3 row">
            <div class="col-auto"><img src="{% static "img/avatar.jpeg" %}" class="avatar" alt=""></div>
            <div class="mb-3 col-sm-8 btn-group-vertical" style="float: right">
                <input class="form-control" type="file" id="formFile" required>
                <div class="invalid-feedback">
                    Where is a photo?
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="username" value="Timon" required>
                <div class="valid-feedback">
                    Ok
                </div>
                <div class="invalid-feedback">
                    Please, enter login
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="email" value="timon&pumba@gmail.com" required>
                <div class="valid-feedback">
                    Ok
                </div>
                <div class="invalid-feedback">
                    Please, enter email
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="user_password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10 row">
                <div class="col-sm-8">
                    <input type="password" class="form-control" name="password" id="password" value="12345678" required>
                    <div class="valid-feedback">
                        Ok
                    </div>
                    <div class="invalid-feedback">
                        Enter password
                    </div>
                </div>
                <div class="col-sm-1 btn-group-vertical" style="padding-left: 0">
                    <i class="bi bi-eye-slash" id="togglePassword" style="cursor: pointer"></i>
                    <script>
                        const togglePassword = document
                            .querySelector('#togglePassword');

                        const password = document.querySelector('#password');

                        togglePassword.addEventListener('click', () => {

                            // Toggle the type attribute using
                            // getAttribure() method
                            const type = password
                                .getAttribute('type') === 'password' ?
                                'text' : 'password';

                            password.setAttribute('type', type);

                            // Toggle the eye and bi-eye icon
                            togglePassword.classList.toggle('bi-eye');
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="col-auto" style="margin-top: 30px">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</div>

{% endblock %}
