{% extends "inc/base.html" %}
{% load static %}

{% block content %}

<div class="col-md-8">
    <div class="pb-4 mb-4 fst-italic border-bottom">
        <h3>Registration</h3>
    </div>
    <img src="{% static "img/unknown.jpg" %}" class="unknown" alt="" style="float: right">
    <form class="needs-validation" style="width: max-content" novalidate>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Login</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="validationCustom01" required>
                <div class="valid-feedback">
                    Ok
                </div>
                <div class="invalid-feedback">
                    Please, enter your login
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="validationCustom02" required>
                <div class="valid-feedback">
                    Ok
                </div>
                <div class="invalid-feedback">
                    Where is an email???
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">NickName</label>
            <div class="col-sm-6 has-validation">
                <input type="text" class="form-control" id="validationCustom03" required>
                <div class="valid-feedback">
                    Ok
                </div>
                <div class="invalid-feedback">
                    NickName is needed
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-6 has-validation">
                <input type="text" class="form-control" id="validationCustom04" required>
                <div class="valid-feedback">
                    Ok
                </div>
                <div class="invalid-feedback">
                    Please, enter password.
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Repeat Password</label>
            <div class="col-sm-6 has-validation">
                <input type="text" class="form-control" id="validationCustom05" required>
                <div class="valid-feedback">
                    Ok
                </div>
                <div class="invalid-feedback">
                    Passwords don't match.
                </div>
            </div>
        </div>
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Upload Avatar</label>
            <div class="col-sm-8 has-validation">
                <input class="form-control" type="file" id="formFile" required>
                <div class="valid-feedback">
                    Ok
                </div>
                <div class="invalid-feedback">
                    You have forgotten a photo
                </div>
            </div>
        </div>
        <div class="col-auto" style="margin-top: 30px">
            <button class="btn btn-primary" type="submit">Sign Up!</button>
        </div>
    </form>

</div>

{% endblock %}

