<!doctype html>
<html lang="en" class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ask</title>
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/css/style.css" >
</head>

<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="base.html">AskME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="base.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="settings.html">Settings</a>
      </li>
    </ul>
    <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
    <img src="../static/img/avatar.jpeg" class="main-avatar" alt="">
    <div class="user">
      <h1 class="navbar-brand">Timon</h1>
      <a class="btn btn-sm btn-outline-secondary" href="login.html">Log out</a>
    </div>
  </div>
</nav>
<!--main-->
<main class="container">
  <div class="row g-5">
    <div class="col-md-8">
      <div class="pb-4 mb-4 fst-italic border-bottom">
        <h3>New Question</h3>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="How to build a moon park?">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Text</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                  placeholder="Really, how? Have no idea about it"></textarea>
      </div>
      <div class="mb  -3">
        <label for="exampleFormControlInput1" class="form-label">Tags</label>
        <input type="email" class="form-control" placeholder="moon, park, puzzle">
      </div>
      <div style="float: right">
        <button type="button" class="btn btn-outline-success btn-lg">Ask!</button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">

        <div class="p-4">
          <h4 class="fst-italic">Popular Tags</h4>
          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button type="button" class="btn btn-danger">Swift</button>
            <button type="button" class="btn btn-warning">Xcode</button>
            <button type="button" class="btn btn-success">mail.ru</button>
            <button type="button" class="btn btn-primary">html</button>
            <button type="button" class="btn btn-secondary">css</button>
            <button type="button" class="btn btn-dark">JavaScript</button>
          </div>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Best Members</h4>
          <ol class="list-unstyled">
            <li><a href="#">Mr. Freeman</a></li>
            <li><a href="#">Dr. House</a></li>
            <li><a href="#">Bender</a></li>
            <li><a href="#">Queen Victoria</a></li>
            <li><a href="#">V. Pupkin</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</main>
</body>

<script src="../static/js/bootstrap.bundle.min.js"></script>

</html>
