.main-avatar {
    width: 60px;
    height: 60px;
}

.avatar {
    width: 100px;
    height: 100px;
}
.unknown {
    width: 250px;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    border-radius:30px;
    margin: 10px;
}



button.like{
	width: 30px;
	height: 30px;
	margin: 0 auto;
	line-height: 50px;
	border-radius: 50%;
	color: rgba(0,150,136 ,1);
	background-color:rgba(38,166,154 ,0.3);
	border-color: rgba(0,150,136 ,1);
	border-width: 1px;
	font-size: 15px;
}

