<!doctype html>
{% load static %}
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>base</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>

<body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url "index" %}">AskME</a>
            {% if is_home %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url "index" %}">Home</a>
                    </li>
                    {% if is_auth %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "settings" %}">Settings</a>
                        </li>
                    {% endif %}
                </ul>
            {% else %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "index" %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url "settings" %}">Settings</a>
                    </li>
                </ul>
            {% endif %}
            <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <a href="{% url "ask" %}"><button type="button" class="btn btn-success">ASK</button></a>
                </form>
            </div>
            {% if is_auth %}
                <img src="{% static "img/avatar.jpeg" %}" class="main-avatar" alt="">
                <div class="user">
                    <h1 class="navbar-brand">Timon</h1>
                    <a class="btn btn-sm btn-outline-secondary" href="{% url "login" %}">Log out</a>
                </div>
            {% else %}
                <div class="user">
                  <a class="btn btn-sm btn-outline-secondary" href="{% url "login" %}">Log in</a>
                  <a class="btn btn-sm btn-outline-secondary" href="{% url "signup" %}">Register</a>
                </div>
            {% endif %}
        </div>
    </nav>

    <main class="container">
        <div class="row g-5">

            {% block content %}
            {% endblock %}

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">

                    <div class="p-4">
                        <h4 class="fst-italic">Popular Tags</h4>
                        <span class="col-auto" style="line-height: 40px" role="group" aria-label="Basic mixed styles example">
                            {% for tag in pop_tags %}
                                <a href="{% url "tag" question_tag=tag.name %}" class="{{ tag.color }}">
                                    {{ tag.name }}
                                </a>
                            {% endfor %}
                        </span>
                    </div>

                    <div class="p-4">
                        <h4 class="fst-italic">Best Members</h4>
                        <ol class="list-unstyled">
                            {% for member in best %}
                                <li><a href="#">{{ member }}</a></li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

</html>
